/*
* @organization: Console Art Cybernetic
* @project: Tiktok Chat Simulation
* @platform: PC (DESKTOP)
* @created: 2022-07-28
* @updated: 2022-09-18
* @framework: React
* @author: Obrymec
* @version: 0.0.2
*/
/*
* @organization: Console Art Cybernetic
* @project: Tiktok Chat Simulation
* @platform: PC (DESKTOP)
* @created: 2022-07-01
* @updated: 2022-07-17
* @framework: React
* @author: Obrymec
* @version: 0.0.2
*/
@font-face {
  src: url("../assets/fonts/RedHatRegular.ttf");
  font-family: "RedHatDisplayRegular"; }
@font-face {
  src: url("../assets/fonts/PublicSansBold.ttf");
  font-family: "PublicSansBold"; }
@font-face {
  src: url("../assets/fonts/OxygenRegular.ttf");
  font-family: "OxygenRegular"; }
div.menu {
  box-shadow: 0 0 6px #ddd;
  border-radius: 8px; }
  div.menu div.menu-item {
    border-radius: 8px; }
